body{
    font-family: 'Nunito Light 300 italic';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #37ff05;
}

#io-chat{
    max-width: 950px;
    margin: 30px auto;
    border: 1px solid rgba(223, 7, 7, 0.884);
    box-shadow: 1px 3px 5px rgba(204, 7, 7, 0.884,204);
    border-radius: 10px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #000000;
    border-radius: 10px;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #02fabc;
    color: rgb(238, 234, 234);
}

#feedback p{
    color: rgb(7, 3, 216);
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #31f500;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgb(255, 249, 249);
    border: 0;
    display: block;
    width: 100%;
    background: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(240, 100, 6);
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #0612f8;
    color: rgb(252, 252, 252);
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

body{
    background-image: url("nflogo.jpg");
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Roboto', sans-serif;
}

.logo{
    color: rgb(238, 234, 234);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(238, 234, 234);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(238, 234, 234);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}


.nav-active{
    transform: translateX(0);
}


@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



